Repository H3c-t0r/storsjs, changes with the owners that CODEOWNERS names for each.
All owners: @profclems, @kaloyan-raev, @mobyvb, @wilfred-asomanii, @cam-a, @mniewrzal, @Fadila82, @Qweder93, @Erikvv, @jewharton

CODEOWNERS:

/cmd/multinode/ @profclems
/cmd/storagenode/ @profclems
/cmd/storagenode-updater/ @profclems
/cmd/uplink/ @kaloyan-raev

/multinode/ @profclems

/satellite/analytics/ @mobyvb @wilfred-asomanii
/satellite/console/ @mobyvb @cam-a
/satellite/gracefulexit/ @mniewrzal @Fadila82 @Qweder93 @Erikvv
/satellite/metabase/ @mniewrzal @Fadila82 @Qweder93 @Erikvv
/satellite/metainfo/ @mniewrzal @Fadila82 @Qweder93 @Erikvv
/satellite/payments/stripecoinpayments/ @mobyvb
/satellite/repair/ @mniewrzal @Fadila82 @Qweder93 @Erikvv

/storagenode/ @profclems

/web/multinode/ @profclems
/web/satellite/ @wilfred-asomanii @jewharton
/web/storagenode/ @profclems

satellite/admin/back-office: Add settings endpoint
  satellite/admin/back-office/api-docs.gen.md
  satellite/admin/back-office/gen/main.go
  satellite/admin/back-office/handlers.gen.go
  satellite/admin/back-office/server.go
  satellite/admin/back-office/settings.go
  satellite/admin/back-office/settings_test.go
  satellite/admin/back-office/ui/src/api/client.gen.ts
Owners: none

satellite/metainfo: avoid some DB calls for non multipart upload
  satellite/internalpb/metainfo_sat.pb.go
  satellite/internalpb/metainfo_sat.proto
  satellite/metabase/commit.go
  satellite/metabase/metabasetest/create.go
  satellite/metainfo/batch.go
  satellite/metainfo/endpoint_object.go
  satellite/metainfo/endpoint_segment.go
  satellite/repair/checker/observer_test.go
Owners: @mniewrzal, @Fadila82, @Qweder93, @Erikvv

satellite/metabase: use UPSERT for committing inline segment
  satellite/metabase/commit.go
Owners: @mniewrzal, @Fadila82, @Qweder93, @Erikvv

storagenode/blobstore/filestore: truly test V1-only scenarios in store_test.go
  storagenode/blobstore/filestore/store_test.go
Owners: @profclems

Add Semgrep CI
  .github/workflows/semgrep.yml
Owners: none
